.container {
    margin: 0 auto;
    max-width: 990px;
}
.accordion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;  
    color: #000;
    border: none;
}
.accordion a {
    border: none;
    text-decoration: none;
    color: #000;
    margin: 5px 0;
    display: block;
}
.accordion div {
    color: #ffaa00;
    margin: 5px 0;
    display: none;
}